<div [@routerTransition]>
    <h2 class="text-muted">
        {{ "BRAND.DATA_MANAGEMENT" | translate }} =>
        <small>{{ "BRAND.USERS" | translate }}</small>
    </h2>

    <div class="card ">
        <div class="card-header ">
            <div class="row mt-2" style="text-align: center;">
                <div class="col col-xl-12 ">
                    <h3>
                        <span> {{ "BRAND.BRANDS" | translate }} </span>
                    </h3>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row" style="text-align: center;">
                <div class="col col-xl-12 ">
                    <div class="table-responsive">
                        <ngx-table
                            #brands
                            [configuration]="configuration"
                            [data]="data"
                            [columns]="columns"
                            [pagination]="pagination"
                            [noResultsTemplate]="noResultsTemplate"
                            [summaryTemplate]="summaryTemplateRef"
                            [detailsTemplate]="detailsTemplate"
                            (event)="eventEmitted($event)"
                        >
                            <ng-template let-row>
                                <td>
                                    <div *ngIf="row.is_verified == true" style="text-align: center;">
                                                <img
                                                    src="../../../../assets/icon/verified_user_icon.png"
                                                    placement="top"
                                                    ngbTooltip="{{
                                                        'BRAND.VERIFIED' | translate
                                                    }}"
                                                />
                                    </div>
                                    <div style="text-align: center;">
                                        <a
                                            target="_blank"
                                            href="https://twitter.com/{{
                                                row.user_profile.username
                                            }}"
                                        >
                                            {{ row.name }}</a
                                        >
                                    </div>
                                </td>
                                <td>
                                    <div style="text-align: center;">
                                        <img
                                            *ngIf="row.language == 'en'"
                                            src="../../../../assets/icon/en.png"
                                            height="48px"
                                            placement="top"
                                                    ngbTooltip="{{
                                                        'LANGUAGE.ENGLISH' | translate
                                                    }}"
                                        />
                                        <img
                                            *ngIf="row.language == 'es'"
                                            src="../../../../assets/icon/es.png"
                                            height="48px"
                                            placement="top"
                                                    ngbTooltip="{{
                                                        'LANGUAGE.SPANISH' | translate
                                                    }}"
                                        />
                                    </div>
                                </td>
                                <td>
                                    <div *ngIf="row.location == ''" style="text-align: center;">
                                                <span style = "color: black; font-style: italic;"> {{ 'BRAND.EMPTY_LOCATION' | translate }} </span>
                                        </div>
                                    <div *ngIf="!(row.location == '')" style="text-align: center;">
                                        <span> {{ row.location }} </span>
                                    </div>
                                </td>

                                <td>
                                    <div *ngIf="row.description == ''" style="text-align: center;">
                                            <span style = "color: black; font-style: italic;"> {{ 'BRAND.EMPTY_DESCRIPTION' | translate }} </span>
                                    </div>
                                    <div *ngIf="!(row.description == '')" style="text-align: center;">
                                        <span> {{ row.description }} </span>
                                    </div>
                                </td>
                                <td>
                                    <div style="text-align: center;">
                                        <span *ngIf="language == 'en'">
                                            {{ row.service_industry.name_en }}
                                        </span>
                                        <span *ngIf="language == 'es'">
                                            {{ row.service_industry.name_es }}
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div style="text-align: center;">
                                        <button
                                            class="btn btn-danger"
                                            placement="left"
                                            ngbTooltip="{{
                                                'BRAND.DELETE' | translate
                                            }}"
                                            mwlConfirmationPopover
                                            popoverTitle="{{
                                                'CONFIRM.TITLE' | translate
                                            }}"
                                            popoverMessage="{{
                                                'CONFIRM.DELETE_BRAND'
                                                    | translate
                                            }}"
                                            confirmText="{{
                                                'CONFIRM.DELETE' | translate
                                            }}"
                                            cancelText="{{
                                                'CONFIRM.CANCEL' | translate
                                            }}"
                                            placement="left"
                                            (confirm)="
                                                onDeleteEvent(
                                                    row.user_profile.username
                                                )
                                            "
                                            [appendToBody]="true"
                                        >
                                            <i
                                                class="fa fa-trash-o fa-lg"
                                            ></i></button>

                                    </div>
                                </td>
                            </ng-template>
                        </ngx-table>

                        <ng-template #noResultsTemplate>
                            <td [attr.colspan]="6" class="no-results">
                                {{ "BRAND.EMPTY" | translate }}
                            </td>
                        </ng-template>

                        <ng-template #summaryTemplateRef let-total="total">
                            <th colspan="6" style="text-align: center;">
                                {{ "BRAND.TOTAL" | translate }}:
                                <strong>{{ pagination.count }}</strong>
                            </th>
                        </ng-template>

                        <ng-template #detailsTemplate let-row>
                                <div style="text-align: center;">
                                  <h4> <strong>{{row.name }}</strong></h4>
                                  <span *ngIf="!(row.url == '')"> (
                                        <a
                                        target="_blank"
                                        href="http://{{ row.url }}"
                                    >
                                        {{ row.url }}</a
                                    >
                                       )</span>
                                </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
