<div [@routerTransition]>
        <h2 class="text-muted"> {{ 'INFO.INFO' | translate }}</h2>

        <div class="row">
                <div class="col-xl-12">
                    <ngb-carousel>
                        <ng-template ngbSlide *ngFor="let slider of sliders">
                            <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" width="100%">
                            <div class="carousel-caption pl-3 pr-3" style="background-color: white; border: 1px solid black; opacity: 0.7;">
                                <h3> <strong style="color: black;">{{slider.label}}</strong></h3>
                                <p><strong style="color: black;">{{slider.text}}</strong></p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
            <hr>
            <div class="row" style="text-align: center;">
                <div class="col-xl-12">
                        <div class="alert alert-info">
                    <span> {{ 'INFO.NOTE_1' | translate }} <strong>Asen Rangelov Baykushev</strong> {{ 'INFO.NOTE_2' | translate }} </span>
                    </div>
                    </div>
                    </div>
        </div>
